doctype html
html(ng-app='tables')
  head
    meta(charset='utf-8')
    title Commits
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='/assets/bootstrap.min.css')
    script(src='/assets/angular.js')
    link(rel='stylesheet', href='/assets/ng-table.css')
    script(src='/assets/ng-table.js')
    script(src='/assets/commits.js')
  body(ng-controller='MainCtrl')
    table.table(ng-table='tableParams', show-filter='true')
      tr(ng-repeat='item in $data')
        td(title="'Git ID'", filter="{ git: 'text'}", sortable="'git'") {{item.git}}
        td(title="'Message'", filter="{ message: 'text'}", sortable="'message'") {{item.message}}
        td(title="'Link'", filter="{ url: 'text'}", sortable="'url'") {{item.url}}
        td(title="'Author'", filter="{ author: 'text'}", sortable="'author'") {{item.author}}
