@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

section#services {
    background-color: #012;
}
.nopointer{
  pointer-events: none;
}

a {
  color: #00B906;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #00B906;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h2, h3 {
  color: #000;
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #00B906;
}

::-moz-selection {
  color: #fff;
  background: #00B906;
}

::selection {
  color: #fff;
  background: #00B906;
}


.btn {
  margin-right: 4px;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active{
  box-shadow: none !important;
  outline: none !important;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}


html,
body {
    background-color: #ecedee;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}

img {
    max-width: 100%;
}

h2,
h3 {
    /*font-family: 'Lane', sans-serif;*/
    font-weight: 300;
    margin: 0;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}

/*
Section
*/
.no-padding {
    padding: 0 !important;
    margin:0 !important;
}

/*
Separator
*/
.separator {
    height: 3px;
    width: 70px;
    margin:30px auto;
    background: #8d8d99;
}

/*
Button
*/

.btn {
    border: 1px solid #fff;
    display: inline-block;
    min-width: 160px;
    padding: .9em;
    height: 57px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 0px;
}
.btn:hover {
    background-color:rgba(228, 211, 0, 0.95);
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}

/* navbar section */
.navbar-brand>img {
    max-width: 80%;
}
.navbar-brand {
    padding: 0 0;
}

.main_top_area h3{
    color:#fff;
    font-size:3rem;
    font-family: 'sanchezregular';
    margin-bottom:0;
}
.main_top_area p{
    font-size:1.875rem;
    color:#fff;
    font-family: 'ralewaylight';
    margin-bottom:40px;
}

.main_top_area{
    padding: 250px 0px;
    text-align: center;
}

/*our dapps section*/ 
.dapps{
    background: #ccc;
}
.dapps_overlay{
    padding: 90px 0px 100px 0px;
}

.contact{
    background: #363855;
}

.contact .contactwithmap_menu h2{
    font-size:1.125rem;
    font-family: 'ralewaybold';
    color:#fff;

}

.contact .contactwithmap_menu ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.contact .contactwithmap_menu ul li{}
.contact .contactwithmap_menu ul li a{
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 70px;
}
.contact .contactwithmap_menu ul li:hover a{
    color: #ffe13e;
    border-bottom: 1px solid #ffe13e;
}
.footer{
    overflow: hidden;
    padding: 20px 0px;
    background: #363855;
}
.footer p{
    color:#fff;
}

body{ 
  margin:0; 
  font:normal 75% Arial, Helvetica, sans-serif; 
} 

#particles-js{ 
  position:absolute; width: 100%; 
  height: 100%; 
  background-color: #0f0708; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
} 
.showpointer{
     pointer-events: all;
}

.greybg{
  background-color:#ccc;
}
.col-md-8 {
   -moz-hyphens:auto;
   -ms-hyphens:auto;
   -webkit-hyphens:auto;
   hyphens:auto;
   word-wrap:break-word;
}

.layout{
  height: unset !important;
} 
.wallets{
    background: #ccc;
}
.center-submenu{
  text-align: center;
  width: 100%;
}
body {
  background: #ccc;
}

.walletstyle{
    border: 2px solid #4CAF50;    
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.walletstyle:hover, .walletstyle.active {
    background-color: #4CAF50;
    color: white;
}

.navigation-drawer, .toolbar--fixed{
  position: absolute;
}
#app{
  position: relative;
}
.anouncements table.table thead tr{
  height: auto;
}
.anouncements table.table thead{
  height: auto;
}
.anouncements table.table tbody td, .anouncements table.table tbody th{
  height: auto;
}
.ann-padding {
   padding: 0 !important;
   margin: 0 !important;
   height: auto;
}
#anouncements{
  background-color: #000002;
}
.bot-0{
  bottom:0px;
}

.alice{
  color: aliceblue;
}

.underline{
  width: 50%; 
  height: 4px; 
  background-color: black;
}