header#main_menu.header.fixed-top
	.row.bg-light
		.col-sm-1.float-left
			Sidebar
		.col-sm-10
			nav.navbar.navbar-light.navbar-expand-md(id='#navmenu')
				button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					| ☰
				a.navbar-brand(href='/')
					img(src='/assets/logo.png')
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.ml-auto
						li.nav-item
							a.nav-link(href='#roadmap') Roadmap
						li.nav-item
							a.nav-link(href='#wallets') Wallets
						li.nav-item
							a.nav-link(href='#services') Services
						li.nav-item
							a.nav-link(href='#dapps') Dapps
		.col-sm-1
			Sidebar